$drawer-background: white !default;
$drawer-item-height: 50px;
$transition-duration: 200ms;
$horizontal-offset: 2%;

.react-drawers_drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  .react-drawers_drawer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $drawer-background;
    > .react-drawers_drawer-content {
      height: 100%;
      overflow: auto;
      .react-drawers_drawer-item {
        display: flex;
        align-items: center;
        min-height: $drawer-item-height;
      }
    }
    transition: transform $transition-duration;
    &.out {
      transform: translateX(100%);
    }
    &.in {
      transform: translateX(0%);
    }
    &.direct-child-active {
      transform: translateX(-$horizontal-offset);
      .in {
        transform: translateX($horizontal-offset);
      }
      .out {
        transform: translateX(100% + $horizontal-offset);
      }
    }
  }
}
